:root {
  --color-teal: #429691;
  --color-bird-teal: #55b1ab;
  --color-pink: #ea93b9;
  --color-yellow: #fad270;
  --color-peach: #f9ab80;
  --color-gray: #d9d8d8;
  --color-deep-teal: #30726c;
  --color-ink: #1f2d2c;
  --color-warm-white: #fefdfb;
}
